.LayoutBag{
    width: 100vw;
    height: 100vh;
    padding: 32px 0px;

    .Layout{
        display: flex;
        max-width: 1720px;
        margin: 0 auto;
        height: 100%;
        .layout__right{
            width: 1389px;
            padding-left: 24px;
            position: relative;
            .layout__right__topCenteiner{
                display: flex;
                justify-content: space-between;
                height: 90%;
       
           }
           .MusicbarLau{
            position: absolute;
            bottom: 0;
            right: 0px;
            left: 24px;
           }
       }
    }
    
}

.LayoutBag#dark {
    background: url("../../assets/Music Player - Dark Mode.png") center/cover;
    color: #EEE;
}

.LayoutBag#light {
    background: white;
    color: #333333;
}



