


.Notifications__music{
    background-color: #424242;
    height: 64px;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 15px;
    width: 800px;

    .Notifications__music_Conteinericon{
        display: flex;
        align-items: center;
        justify-content: center;
        .Notifications__music_icon{
            font-size: 20px;
            margin: 0px 20px;
            color: red;
        } 
    }
    .Notifications__music_ConteinerImg{
        display: flex;
        .Notifications__music_img{
            width: 48px;
            height: 48px;
            border-radius: 8px;
            margin-right: 20px;
        }
        .Notifications__music_title{
            font-size: 16px;
            font-weight: 500;
        }
        .Notifications__music_subtitle{
            font-size: 13px;
            font-weight: 300;
        }
    }
    .Notifications__music_timeIcon{
        display: flex;
        align-items: center;

        position: absolute;
        right: 10px;
        top: 20px;
        .Notifications__music_time{
            font-size: 16px;
            font-weight: 300;
            margin-right: 15px;
        }
        .Notifications__music_icon{
            font-size: 19px;
            cursor: pointer;
        }
    }
    
}



.Notifications__music#light{
    background-color: #E6E6E6;
    height: 64px;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 15px;

    .Notifications__music_Conteinericon{
        display: flex;
        align-items: center;
        justify-content: center;
        .Notifications__music_icon{
            font-size: 20px;
            margin: 0px 20px;
            color: #919191;
        } 
    }
    .Notifications__music_ConteinerImg{
        display: flex;
        .Notifications__music_img{
            width: 48px;
            height: 48px;
            border-radius: 8px;
            margin-right: 20px;
        }
        .Notifications__music_title{
            font-size: 16px;
            font-weight: 500;
        }
        .Notifications__music_subtitle{
            font-size: 13px;
            font-weight: 300;
        }
    }
    .Notifications__music_timeIcon{
        display: flex;
        align-items: center;

        position: absolute;
        right: 10px;
        top: 20px;
        .Notifications__music_time{
            font-size: 16px;
            font-weight: 300;
            margin-right: 15px;
        }
        .Notifications__music_icon{
            font-size: 19px;
            cursor: pointer;
            color: #919191;
        }
    }
    
}